@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Pizza;

<form asp-controller="Pizza" asp-action="Update" asp-route-id="@Model.Id" method="post">

        <div class="mb-3">
            <img src="@Model.ImageAddress" />
            <p class="text-danger">per cambiare inserire nuovo url</p>

            <label for="Immage" class="form-label">Immagine</label>
            <input asp-for="ImageAddress" class="form-control" aria-describedby="emailHelp" />
            <span asp-validation-for="ImageAddress" class="text-danger" ></span>
        </div>

        <div class="mb-3">
            <label for="Name" class="form-label">Nome</label>
            <input asp-for="Name" class="form-control" placeholder="@Model.Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3 form-check">
            <label for="Price" class="form-label">prezzo</label>
            <input type="number" asp-for="Price" placeholder="@Model.Price" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <div>
                @Model.Description
            </div>
            <p class="text-danger">per cambiare inserire nuovo url</p>
            
            <label for="Description" class="form-label">Descrizione</label>
            <textarea asp-for="Description" rows="10" ></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <input type="submit" class="btn btn-small btn-success" value="Salva">

</form>